# Receiving Inputs:

In [3]:
# Python program showing 
# how to take multiple input 
# using List comprehension 
  
# taking two input at a time 
x, y = [int(x) for x in input("Enter two value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print() 
  
# taking three input at a time 
x, y, z = [int(x) for x in input("Enter three value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print() 
  
# taking two inputs at a time 
x, y = [int(x) for x in input("Enter two value: ").split()] 
print("First number is {} and second number is {}".format(x, y)) 
print() 
  
# taking multiple inputs at a time  
x = [int(x) for x in input("Enter multiple value: ").split()] 
print("Number of list is: ", x)

Enter two value: 1 2
First Number is:  1
Second Number is:  2

Enter three value: 1 2 3
First Number is:  1
Second Number is:  2
Third Number is:  3

Enter two value: 1 2
First number is 1 and second number is 2

Enter multiple value: 1 2 3 4
Number of list is:  [1, 2, 3, 4]

In [2]:
# taking two inputs at a time 
x, y = [int(x) for x in input("Enter two value: ").split()] 
#print("First number is {} and second number is {}".format(x, y)) 
print("{},{}  ".format(x, y))

Enter two value: 9 9
9,9

# Logical operations

In [4]:
#and operation
#if we use and no need to use paranthesis 
# if we use & operatoe we have to use parathesis
a,b,c=1,2,3
c>a and c>b
(c>a) & (c>b)

True

In [10]:
#or operation
x,y,z = 3,4,5
x>y or y>z

False

In [11]:
city = "banglore"
gender = "male"
city == "banglore" or "gender == female"

True

In [14]:
#even or odd
i=int(input("Enter any number:"))
i%2 == 0

Enter any number:22

True

In [1]:
#not operator
i=int(input("Enter any number:"))
not(i<20)

Enter any number:90

True

In [6]:
nm = "Bhanu"
print("You are most welcome :", nm)  # type 1 of printing
print ("Yor anr not welcome %s " %nm) # type 2 of printing
greet = ("%s you are welcome ! !")
print(greet%(nm))
greet1 = ("You are welcome %s here")
print(greet1%(nm))
#passing two arguments
msg = "%s and %s are good people"
print(msg%("bhanu","Rekha"))
exp = "%s has %d years of experience"
print(exp%("Venu",4))

You are most welcome : Bhanu
Yor anr not welcome Bhanu
Bhanu you are welcome ! !
You are welcome Bhanu here
bhanu and Rekha are good people
Venu has 4 years of experience

# Advanced Data Types
#1.Tuples - same or mixed data types & use small braces & allows duplicate & sort the data & non mutable(can not add delete or modify partial values)

In [47]:
a=(1,2,3,4,5)
print(a,"its data type is ",type(a))

fruits=("apple","orange","cherry","grapes","apple")
print(fruits)
print(type(fruits))
print(len(fruits))
#tuple slicing
print(fruits[1:-1])
print(fruits[1:(len(fruits)-1)])
print(fruits[::-1])
print(fruits[-3:])
print(fruits[2:])

(1, 2, 3, 4, 5) its data type is  <class 'tuple'>
('apple', 'orange', 'cherry', 'grapes', 'apple')
<class 'tuple'>
5
('orange', 'cherry', 'grapes')
('orange', 'cherry', 'grapes')
('apple', 'grapes', 'cherry', 'orange', 'apple')
('cherry', 'grapes', 'apple')
('cherry', 'grapes', 'apple')

In [8]:
data=("Bhanu",25,5.9)
print(type(data))
#sorting
age=(23,21,22,20,19)
print(sorted("age",reverse=True))
print(age)

<class 'tuple'>
['g', 'e', 'a']
(23, 21, 22, 20, 19)

In [67]:
#tuple addition
a=(1,2,3)
b=(4,5)
c=a+b
print(c)
print(len(c))
del c #can not delete from a tuple
#print(c)

(1, 2, 3, 4, 5)
5

# SET

In [ ]:
#denoted ny{} 
#does not allow duplicated or allows only unique values
#mutable (can modify part of set)

In [77]:
fruit_s = {"apple","banana","apple","grapes","cherry"}
print(fruit_s)
print(type(fruit_s))
fruit_s.add("mango")              # adding objects to a set
fruit_s.add(29)
print(fruit_s)
fruit_s.remove(29)               # removing objects to a set
print(fruit_s)

{'banana', 'apple', 'grapes', 'cherry'}
<class 'set'>
{'cherry', 'grapes', 'banana', 'apple', 29, 'mango'}
{'cherry', 'grapes', 'banana', 'apple', 'mango'}

# List

In [78]:
# uses [] , allows mixed data types
#allows append, insert, replace, remove
#allows duplicatesss
#can sort

In [95]:
b = ['cherry', 'grapes', 'banana', 'apple', 'mango']
print(b)
print(type(b))
b.append("candy")                          # add to the end of the list
print(b)
b.append(29)
print(b)
b.insert(2,"yellow")                       # inserts in a particular location
print(b)
b[2]= "black"                              #replaces an element
print(b)
c = b + b
print(c)
d = set(c)
print(d)
aw=["candy","choco","biscuit","lolly"]
qw= "\n".join(aw)
print(qw)

['cherry', 'grapes', 'banana', 'apple', 'mango']
<class 'list'>
['cherry', 'grapes', 'banana', 'apple', 'mango', 'candy']
['cherry', 'grapes', 'banana', 'apple', 'mango', 'candy', 29]
['cherry', 'grapes', 'yellow', 'banana', 'apple', 'mango', 'candy', 29]
['cherry', 'grapes', 'black', 'banana', 'apple', 'mango', 'candy', 29]
['cherry', 'grapes', 'black', 'banana', 'apple', 'mango', 'candy', 29, 'cherry', 'grapes', 'black', 'banana', 'apple', 'mango', 'candy', 29]
{'black', 'cherry', 'grapes', 29, 'banana', 'apple', 'candy', 'mango'}
candy
choco
biscuit
lolly

# Dictionary

In [96]:
#uses {}
# it has key value for each match
#key must be unique values if it is duplicated holds only the last value
#items means each key along withis value

In [111]:
dict= {1:"bhanu",2:"venu",3:"steve",4:"maggie"}
print(dict,"\n",type(dict))
print(dict[2])
dict[2] = "venuhya"
print(dict,"\n",dict.keys(),"\n",dict.values(),"\n",dict.items())
del dict[4]
print(dict)
print(dict.items())

{1: 'bhanu', 2: 'venu', 3: 'steve', 4: 'maggie'}
 <class 'dict'>
venu
{1: 'bhanu', 2: 'venuhya', 3: 'steve', 4: 'maggie'}
 dict_keys([1, 2, 3, 4])
 dict_values(['bhanu', 'venuhya', 'steve', 'maggie'])
 dict_items([(1, 'bhanu'), (2, 'venuhya'), (3, 'steve'), (4, 'maggie')])
{1: 'bhanu', 2: 'venuhya', 3: 'steve'}
dict_items([(1, 'bhanu'), (2, 'venuhya'), (3, 'steve')])

In [116]:
#Nested dictionary

elements= {'hydrogen':{'number':1,'weight':1.00794,'symbol':'H'},
           'helium':{'number':2,'weight':4.002602,'symbol':'He'}}

print(elements['helium']['symbol'])

He

In [117]:
#Case studies

In [120]:
l="Greatlearning"
print("\n".join(l))
print("\t".join(l))
print("oops".join(l))

G
r
e
a
t
l
e
a
r
n
i
n
g
G	r	e	a	t	l	e	a	r	n	i	n	g
Goopsroopseoopsaoopstoopsloopseoopsaoopsroopsnoopsioopsnoopsg

# Loops

In [124]:
#Conditional statement
# if loop and if-else loop and if-elif-else
# for loop
#
if(3>5):
    print("inside if loop")
else:
    print("inside else loop")

inside else loop

In [125]:
user="greatlearning"
pwd="pwd"
if (user=="greatlearning") & (pwd=="pwd"):
    print("Validation success")
else:
    print("enter your right username and password")

Validation success

In [128]:
user="gratlearning"
pwd="pwd"
if (user=="greatlearning") & (pwd=="pwd"):
    print("Validation success")
else:
    print("enter your right username and password")

enter your right username and password

In [134]:
i=int(input("enter a number"))
if((i%2)==0):
    print("even")
else:
    print("odd")

enter a number2
even

In [138]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))

if (a==0 or b==0 or c==0):
    print("enter a value greater than 0")
else:
    if(a>b and a>c):
        print("a is greatest")
    elif(b>a and b>c):
        print("b is greatest")
    else:
        print("c is greatest")

enter a number1
enter a number0
enter a number1
enter a value greater than 0

In [9]:
a=int(input("enter a number"))
if(a==0):
    print("enter a value greater than 0")
b=int(input("enter a number"))
if(b==0):
    print("enter a value greater than 0")
c=int(input("enter a number"))

if (a==0 or b==0 or c==0):
    print("enter a value greater than 0")
else:
    if(a>b and a>c):
        print("a is greatest")
    elif(b>a and b>c):
        print("b is greatest")
    else:
        print("c is greatest")

enter a number1
enter a number2
enter a number3
c is greatest

In [143]:
amount=int(input("enter the amount"))
if(amount>=50000):
    print("Your a Diamond")
elif(amount>=25000 and amount<=50000):
    print("You are a Gold")
elif(amount>=10000 and amount<=25000):
    print("You are a silver")
else:
    print("You are a Bronze")

enter the amount75000
Your a Diamond

In [154]:
days=int(input("enter the number of days"))
d=days%7
w=days//7
print("We have ",w," weeks ",d," days")

enter the number of days15
We have  2  weeks  1  days

In [10]:
# for loop
a=[1,2,3,4,9]
print(a)
for k in a:
    print(k)

[1, 2, 3, 4, 9]
1
2
3
4
9

In [160]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [161]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [164]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [167]:
for i in range(2,11):
    i=i**2 
    print(i)

4
9
16
25
36
49
64
81
100

In [16]:
g="greatlearning"
print(g*10)
print("\t".join(g*10))
for i in range(1,10):
    print("greatlearning")

greatlearninggreatlearninggreatlearninggreatlearninggreatlearninggreatlearninggreatlearninggreatlearninggreatlearninggreatlearning
g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g	g	r	e	a	t	l	e	a	r	n	i	n	g
greatlearning
greatlearning
greatlearning
greatlearning
greatlearning
greatlearning
greatlearning
greatlearning
greatlearning

In [3]:
x = []
y= []
for i in range(1,11):

    if((i%2)==0):
        print("even : ",i)
        x.append(i)  
    else:
        print("odd : ",i)
        y.append(i)
        
print("even list : ",x)
print("odd list : ",y)

odd :  1
even :  2
odd :  3
even :  4
odd :  5
even :  6
odd :  7
even :  8
odd :  9
even :  10
even list :  [2, 4, 6, 8, 10]
odd list :  [1, 3, 5, 7, 9]

In [4]:
print(min(x))
print(max(x))
print(sum(x))

2
10
30

In [1]:
z=[]
for i in range(100,198):
    if((i%5)==0) and ((i%7)==0):
        #print(i)
        z.append(i)
        print("cumulative sum : ",sum(z))

print("total sum : ",sum(z))

cumulative sum :  105
cumulative sum :  245
cumulative sum :  420
total sum :  420

In [211]:
#break
for x in range(1,10):
    print("x = ",x)
    if(x==4):
        break

print("I have exited the loop")

x =  1
x =  2
x =  3
x =  4
I have exited the loop

In [213]:
#continue
for x in range(1,10):
    print("x = ",x)
    if(x==4):
        print("I have found a match")  
        continue

x =  1
x =  2
x =  3
x =  4
I have found a match
x =  5
x =  6
x =  7
x =  8
x =  9

In [215]:
count=1
while(count<=5):
    print(count)
    count +=1

1
2
3
4
5

In [217]:
count=1
while(count<=10):
    print("Hello world")
    if(count==5):
        break
    count +=1

Hello world
Hello world
Hello world
Hello world
Hello world

#Case Studies:

In [223]:
#Print the numbers from start till specified number eg: 0 till 5
    
x=[]
for i in range(1,6):
    print(i)
    x.append(i)
print(x)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [222]:
#print the number with specific start and end eg:3,4,5,6

for i in range(3,7):
    print(i)

3
4
5
6

In [228]:
#print the number with start , end and interval 

m=[]
for i in range(10,51,5):
    print(i)
    m.append(i)
    
print(m)
print(sum(m))

10
15
20
25
30
35
40
45
50
[10, 15, 20, 25, 30, 35, 40, 45, 50]
270

In [235]:
#print all the elements l = 'greatlearning' in a new line

m="greatlearning"
length=len(m)
for i in range(0,length):
    print(m[i])

g
r
e
a
t
l
e
a
r
n
i
n
g

In [238]:
t=[]
l="greatlearning"
for i in l:
    print(i)
    t.append(i)
    
print(t)

g
r
e
a
t
l
e
a
r
n
i
n
g
['g', 'r', 'e', 'a', 't', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [239]:
l=("ann","works","annworks")
for i in l:
    print(i)

ann
works
annworks

In [240]:
l=["ann","works","annworks"]
for i in l:
    print(i)

ann
works
annworks

In [243]:
l={"ann":26,"works":23,"annworks":28}

print(l.values())
print(l.keys())
print(l.items())

dict_values([26, 23, 28])
dict_keys(['ann', 'works', 'annworks'])
dict_items([('ann', 26), ('works', 23), ('annworks', 28)])

In [245]:
#iterate the list based on index
l=["ann","works","annworks"]
for i in range(len(l)):
    print(l[i])

ann
works
annworks

In [7]:
n=[6,5,3,8,4,2,5,4,11]
sum=0
for i in range(len(n)):
    sum=sum+n[i]
    
print(sum)

48

TypeError: 'int' object is not callable

In [248]:
n=[6,5,3,8,4,2,5,4,11]
sum=0
for i in n:
    sum=sum+i
    
print(sum)

48

In [6]:
#find the factorial

i=int(input("enter any number :"))
fact=1
while(i>0):
    fact=fact*i
    i=i-1
print(fact)

enter any number :-1
1

In [8]:
#find the given number is a prime number or not

n=int(input("enter any number :"))
count=0
factors=[]
for i in range(1,n+1):
    
    if(n%i)==0:
        count=count+1
        factors.append(i)
        
if count>2:
    print("not prime")
    print("its factors are: ",factors)        
else:
    print("prime")

enter any number :3
prime

In [9]:
x = []
y= []
for i in range(1,10):

    if((i%2)==0):
        #print("even : ",i)
        x.append(i**2)  
    else:
        #print("odd : ",i)
        y.append(i**2)
        
print("even list : ",x)
print("odd list : ",y)

even list :  [4, 16, 36, 64]
odd list :  [1, 9, 25, 49, 81]

In [36]:
num=2


if num>1:
    for i in range(2,num):
        if (num%i) ==0 :
            print(num,"is not a prime")
            break
       
        else:
            print(num,"is a prime")
            break
            
else:
    print(num,"is not a prime")

In [10]:
c=list(range(1,5))
print(c)
print(sum(list(range(1,15,5))+list(range(1,15,5))))

[1, 2, 3, 4]
36

In [10]:
l=[1,"bhanu"]
type(l)

list

In [11]:
count=0
for i in range(2,11):
    if(i%3==0):
        count=count+i
        
print(count)

18

In [21]:
#20.Find the sum of first 50 natural numbers
sum=0
for i in range(1,50):
    sum=sum+i
print("sum =",sum)

sum = 1225

In [23]:
#21. Display the text, n number of time
text="I am BHanu"
print(text*5)

I am BHanuI am BHanuI am BHanuI am BHanuI am BHanu

In [29]:
#22. Program to Print Fibonacci Series

a,b=int(input("enter two numbers: ")),int(input())
if a==0 and b==0:
    print("enter any numbers other than 0")
else:
    feb_s=[]
    i=int(input("enter the length of seris"))
    
    feb_s.append(a)
    feb_s.append(b)
    for x in range(2,i):
       feb_s.append(feb_s[x-1]+feb_s[x-2])
    print(feb_s)

enter two numbers: 0
0
enter any numbers other than 0

In [18]:
#24. check if a given number is positive, negative or zero
num=int(input("Enter a number: "))

if(num>0):
    print("the given number ",num," is positive")
elif(num<0):
    print("the given number ",num," is negitive")
else:
    print("its a zero")

Enter a number: -1
the given number  -1  is negitive

In [22]:
#25.Print the range of number and also print seperate message if there is a multiple of 5
for i in range(1,20):
    print(i)
    if(i%5 ==0):
        print('its a multiple of 5')

1
2
3
4
5
its a multiple of 5
6
7
8
9
10
its a multiple of 5
11
12
13
14
15
its a multiple of 5
16
17
18
19

In [63]:
#26. Print all the alphabets in a cummulative way or in a triangular format


alphabets=[]
for l in range(ord('A'),ord('Z')+1):
    alphabets.append(chr(l))
    
    
for i in (alphabets):
    print(i*(alphabets.index(i)+1))

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ
KKKKKKKKKKK
LLLLLLLLLLLL
MMMMMMMMMMMMM
NNNNNNNNNNNNNN
OOOOOOOOOOOOOOO
PPPPPPPPPPPPPPPP
QQQQQQQQQQQQQQQQQ
RRRRRRRRRRRRRRRRRR
SSSSSSSSSSSSSSSSSSS
TTTTTTTTTTTTTTTTTTTT
UUUUUUUUUUUUUUUUUUUUU
VVVVVVVVVVVVVVVVVVVVVV
WWWWWWWWWWWWWWWWWWWWWWW
XXXXXXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYYYYYYY
ZZZZZZZZZZZZZZZZZZZZZZZZZZ

In [35]:
for i in range(1,10):
    print("{0:>10}".format('*'*i))

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [39]:
for i in range(1,20):
    if not (i%2 == 0):
         print("{0:^20}".format('*'*i))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [37]:
for i in range(1,20):
    for j in range(1,10):
        if not (i%2 == 0):
            print("{0:^40}".format(str(j)*i))
            break

                   1
                  111
                 11111
                1111111
               111111111
              11111111111
             1111111111111
            111111111111111
           11111111111111111
          1111111111111111111

In [79]:
#26. Print all the alphabets in a cummulative way or in a triangular format


alphabets=[]
for l in range(ord('A'),ord('Z')+1):
    alphabets.append(chr(l))
    
    
for i in (alphabets):
    #print(i*(alphabets.index(i)+1))
    for i in range(0,(alphabets.index(i)+1)):
        print(alphabets[i],end="")
    print('\n')

A

AB

ABC

ABCD

ABCDE

ABCDEF

ABCDEFG

ABCDEFGH

ABCDEFGHI

ABCDEFGHIJ

ABCDEFGHIJK

ABCDEFGHIJKL

ABCDEFGHIJKLM

ABCDEFGHIJKLMN

ABCDEFGHIJKLMNO

ABCDEFGHIJKLMNOP

ABCDEFGHIJKLMNOPQ

ABCDEFGHIJKLMNOPQR

ABCDEFGHIJKLMNOPQRS

ABCDEFGHIJKLMNOPQRST

ABCDEFGHIJKLMNOPQRSTU

ABCDEFGHIJKLMNOPQRSTUV

ABCDEFGHIJKLMNOPQRSTUVW

ABCDEFGHIJKLMNOPQRSTUVWX

ABCDEFGHIJKLMNOPQRSTUVWXY

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [32]:
#26. Print all the alphabets in a cummulative way or in a triangular format


alphabets=[]
for l in range(ord('A'),ord('Z')+1):
    alphabets.append(chr(l))
    
    
for i in (alphabets):
    for i in range(0,(alphabets.index(i))):
        temp =temp+alphabets[i]
    print("{0:^26}".format(temp))
    temp=''

            A
            AB
           ABC
           ABCD
          ABCDE
          ABCDEF
         ABCDEFG
         ABCDEFGH
        ABCDEFGHI
        ABCDEFGHIJ
       ABCDEFGHIJK
       ABCDEFGHIJKL
      ABCDEFGHIJKLM
      ABCDEFGHIJKLMN
     ABCDEFGHIJKLMNO
     ABCDEFGHIJKLMNOP
    ABCDEFGHIJKLMNOPQ
    ABCDEFGHIJKLMNOPQR
   ABCDEFGHIJKLMNOPQRS
   ABCDEFGHIJKLMNOPQRST
  ABCDEFGHIJKLMNOPQRSTU
  ABCDEFGHIJKLMNOPQRSTUV
 ABCDEFGHIJKLMNOPQRSTUVW
 ABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXY

In [54]:
for i in range(1,20):
    if not (i%2 == 0):
        s=''
        for j in range(0,i):
            s=s+str(j)
        print("{0:^40}".format(s))

                   0
                  012
                 01234
                0123456
               012345678
              012345678910
            0123456789101112
          01234567891011121314
        012345678910111213141516
      0123456789101112131415161718

In [57]:
i=20
while i > 0:
    if not (i%2 == 0):
        s=''
        for j in range(0,i):
            s=s+str(j)
        print("{0:^40}".format(s))
    i=i-1

      0123456789101112131415161718
        012345678910111213141516
          01234567891011121314
            0123456789101112
              012345678910
               012345678
                0123456
                 01234
                  012
                   0

In [58]:
for i in range(1,20):
    if not (i%2 == 0):
        s=''
        for j in range(0,i):
            s=s+str(j)
        print("{0:^40}".format(s))
        i=20
while i > 0:
    if not (i%2 == 0):
        s=''
        for j in range(0,i):
            s=s+str(j)
        print("{0:^40}".format(s))
    i=i-1

                   0
                  012
                 01234
                0123456
               012345678
              012345678910
            0123456789101112
          01234567891011121314
        012345678910111213141516
      0123456789101112131415161718
      0123456789101112131415161718
        012345678910111213141516
          01234567891011121314
            0123456789101112
              012345678910
               012345678
                0123456
                 01234
                  012
                   0

In [67]:
#33. Findn how many time word has been repeated in the text, 
import re
text = 'Its too good to be good, being good is always good'
list1 = re.split('\s|\,',text)
for i in list1:
    print(i,':     count:  ',list1.count(i))

Its :     count:   1
too :     count:   1
good :     count:   4
to :     count:   1
be :     count:   1
good :     count:   4
 :     count:   1
being :     count:   1
good :     count:   4
is :     count:   1
always :     count:   1
good :     count:   4

In [73]:
#Strip only the name from email id terry@gmail.com
email='banurekha11@gmail.com'
name=re.split('@',email)
name

['banurekha11', 'gmail.com']

In [76]:
#Strip all the fiels like first name, last name, domain and extension seperately  from email id terry.jason@gmail.com
email='bhanu.rekha@gmail.com'
name=re.split('\.|\@',email)
name

['bhanu', 'rekha', 'gmail', 'com']

In [85]:
#Extract all the numbers from the given text
text='I have 22 pens. and 56 balls and 43 bananas and 12 appeles'
split_text = re.split('\s',text)
for i in split_text:
    if i.isnumeric():
        print(i)

22
56
43
12

In [95]:
#create 2 separate lists , combine all the elements in the list. Remove the duplicate and get the count of elements
text1='I have 22 pens. and 56 balls and 43 bananas and 12 appeles'
text2='I have 7287287 appel. and 56 balls LSO 43 HAI and NONE appeles'
list1=re.split(' ',text1)
list2=re.split(' ',text2)
list3=list1+list2
list4=list(set(list3))
print(len(list4))

16

In [98]:
# 31. Program to print inverted half pyramid using an asterisk (star)

print("Program to print half pyramid: ")
rows = input("Enter number of rows ")
rows = int (rows)
for i in range (rows,0,-1):
#     for j in range(0, i ):
#         print("*", end=' ')
    print('*'*i)
#    print("\r")

Program to print half pyramid:
Enter number of rows 10
**********
*********
********
*******
******
*****
****
***
**
*

In [99]:
# 29. Print a number pattern and reverse the order using a for loop and range function. 

## give the start and end position
f_num = 1
l_num = 6
for row in range(f_num, l_num+1):
    for column in range(row, 0,-1):
        print(column, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1