# Functions

In [2]:
#Defining a function
def helloworld():
    print("Hello bhanu")

In [3]:
#calling a function
helloworld()

Hello bhanu

In [4]:
#defining a function with parameter
def hello(nm):
    print("Hai : ",nm)

In [10]:
#calling a function with parameter
hello("bhanu")

Hai :  bhanu

In [19]:
#Default parameter
def py(nm="apple"):
    print("I am new ",nm)

In [22]:
#calling function with default values
py()
py("banana")

I am new  apple
I am new  banana

In [28]:
def prg(f_name,l_name):
    print("First name: ",f_name,"\n","Last_name: ",l_name)

In [29]:
prg("bhanu","rekha")

First name:  bhanu
 Last_name:  rekha

In [16]:
def addition(a,b):
    print("addition= ",a+b)

In [18]:
addition(1,2)
#we can specify the values if we want to change the order
addition(b=1,a=5)

addition=  3
addition=  6

In [7]:
#calculate BMI 
def BMI():
    weight=float(input("Enter the value of weight:"))
    height=float(input("Enter the value of Height:"))
    if weight<=0 or height<=0:
       print("enter a value greater than zero")
    else:
        BMI = (weight / (height ** 2))
        print(BMI)

In [8]:
BMI()

Enter the value of weight:68
Enter the value of Height:189
0.001903642115282327

In [13]:
#convert the given temparature in celcius to foreint heat
def cels_to_foreign():
    temp=float(input("Enter temparature in celcius: "))
    print("Foreigneit temp = : ", (temp*(9/5)+32))

In [14]:
cels_to_foreign()

Enter temparature in celcius: 98
Foreigneit temp = :  208.4

In [19]:
def func(nm,age):
    print("name=",nm)
    print("age=",age)

In [22]:
#we can interchange the parameters but we need to specify the name defined 
func("bhanu",25)
func(25,"bhanu")
func(age=25,nm="bhanu")

name= bhanu
age= 25
name= 25
age= bhanu
name= bhanu
age= 25

In [26]:
#get the list of even and odd numbers seperately for a given range
def evenodd():
    a=int(input("Enter range of numbers from :"))
    b=int(input("upto :"))
    even=[]
    odd=[]
    for i in range(a,b+1):
        if(i%2==0):
            even.append(i)
        else:
            odd.append(i)
            
    print("even list is : ",even)
    print("odd list is : ",odd)

In [27]:
evenodd()

Enter range of numbers from :30
upto :150
even list is :  [30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
odd list is :  [31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149]

In [30]:
#calculate the number of weeks and number of days 
def weekdays():
    days=int(input("Enter the number of days"))
    print("we have ",(days//7)," weeks and ",(days%7)," days")

In [34]:
weekdays()

Enter the number of days14
we have  2  weeks and  0  days

In [35]:
#sort
a=[2,3,1,2,5,6,90,4,5,67,3,4,56,2,3,4,5,889,90]
print(a)
a.sort()
print(a)

[2, 3, 1, 2, 5, 6, 90, 4, 5, 67, 3, 4, 56, 2, 3, 4, 5, 889, 90]
[1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 56, 67, 90, 90, 889]

In [39]:
a=(2,3,1,2,5,6,90,4,5,67,3,4,56,2,3,4,5,889,90)
print(a)
a=sorted(a)
print(a)

(2, 3, 1, 2, 5, 6, 90, 4, 5, 67, 3, 4, 56, 2, 3, 4, 5, 889, 90)
[1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 56, 67, 90, 90, 889]

In [10]:
def decend(list):
        #list.sort()
        b=sorted(list,reverse=True)
        print("decending order ",b)

In [11]:
a=[23,34,12,3,45,67]
decend(a)

decending order  [67, 45, 34, 23, 12, 3]

In [68]:
a=[23,90,12,3,45,67]
decend(a)

decending order  [90, 67, 45, 23, 12, 3]

In [88]:
def biggest():
    a=int(input("enter three numbers a: "))
    b=int(input("b: "))
    c=int(input("c: "))
    
    if a<0 or b<0 or c<0:
        print("enter a number greater than 0")
        biggest()
    else:
        if(a>b and a>c):
            print("a is biggest")
        elif(b>c and b>a):
            print("b is biggest")
        else:
            print("c is biggest")

In [ ]:
biggest()

enter three numbers a: -1
b: 2
c: 3
enter a number greater than 0

In [4]:
def fact():
    num=int(input("enter a number: "))
    
    res=1
    for i in range(1,num+1):
        res=res*i
        
    print("Factorial= ",res)

In [5]:
fact()

enter a number: 8
Factorial=  40320

In [2]:
#write a function to swap two variables
def swap(x,y):
        x,y=y,x

In [3]:
swap(a,b)
print(a,b)

12 24

In [1]:
a=11
for i in range(1,3):
    while True:
        if a>5:
            print(a)
        else:
            break

            a-=1

11
10
9
8
7
6

In [27]:
num=10

for a in range(3,num+1):  #3 to 10
    for b in range (2,a):
        if(a%b==0):
            #print("break",a,b)
            break
    else:
            print(a)

3
5
7

In [31]:
def greet(country,nm):
    
    if(country=="france"):
        print("welcome ",nm," to France")

In [32]:
greet("france","bhanu")

welcome  bhanu  to France

In [38]:
def f1():
    lst_f = [1,2,3,4,5,6,7]
    print("list with in function",lst)

In [41]:
lst=[11,112,345]
f1()

list with in function [11, 112, 345]

In [53]:
def gl_fun():
    #print(nm)
    nm="great learning"
    print(nm)

In [54]:
nm="great not learning"
gl_fun()
print(nm)

great learning
great not learning

In [58]:
def f():
    global s
    print(s)
    s="Juzz awesome"
    print(s)

s="great learning"
f()
print(s)

great learning
Juzz awesome
Juzz awesome

In [65]:

a=10
def f1():
    print(a)
def f2():
    a=20
    print(a)
def f3():
    global a
    a=100
    print(a)    
def f4():
    print(a)
f1()
f2()
f3()
f4()
print(a)

10
20
100
100
100

In [14]:
#palyndrome
def pal(mystr):
    a=mystr.casefold()
    b=a[::-1]
    #print(a,b)
    if a==b:
        print("palyndrome")
    else:
        print("not")
pal("mom")

palyndrome

In [15]:
a="bhanu"
b=a[::-1]
print(b)

unahb

In [36]:
a="bhanurekha"
b= "".join(reversed(a))
b

'ahkerunahb'

# Lambda

In [85]:
lam = lambda a,b: a+b
lam(1,2)

3

In [86]:
fun = lambda a,b,c:a*b*b
fun(1,2,3)

4

In [92]:
def myfunc(n):
    return lambda a:a*n
mytripler = myfunc(3)
print(mytripler(2))

6

In [93]:
f = lambda x:x>7

print(f(1))

False

# Filter

In [94]:
li=[1,2,3,4,55,6,7,8,9,9,0]
final_list=list(filter(lambda x:(x%2 == 0),li))
print(final_list)

[2, 4, 6, 8, 0]

In [100]:
li=[1,2,3,4,55,6,7,8,9,9,0]
final_list=list(filter(lambda x:(x%5 == 0 or x%7 == 0),li))
print(final_list)

[55, 7, 0]

In [104]:
dict_a = [{'name':'python','points':10},{'name':'java','points':8}]
print(list(filter(lambda x :x['name'] == 'python',dict_a)))

[{'name': 'python', 'points': 10}]

In [106]:
numbers=[1,2,3,4,55,3,6,67,7,7,4,5]
s=list(map(lambda x:x%3==0,numbers))
print(s)

[False, False, True, False, False, True, True, False, False, False, False, False]

In [108]:
from functools import reduce
li = [5,8,10,20,34,45,4,44,33]
sum = reduce(lambda x,y:x+y,li)
print(sum)

203

In [111]:
import functools
import operator
li = [5,8,10,20,34,45,4,44,33]


print("the sum is",end="")
print(functools.reduce(lambda a,b:a+b,li))

the sum is203

In [114]:
import functools
import operator
li = [5,8,10,20,34,45,4,44,33]


print("the multiply is  ",end="")
print(reduce(operator.mul,li))#add,sub,mul,truediv

the multiply is  71089920000

In [23]:
f = lambda x,y,z : x+y+z
print(f(1,2,3))

6

In [15]:
#multiples of 5 from 1 to 100
for i in range(0,101,5):
    if i>0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [19]:
#multiples of 5 from 1 to 100
mul=5
for i in range(1,21):
    print(i*mul)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [24]:
a=[1,2,3,4,5]
for i in a:
    print(i*i)

1
4
9
16
25

In [31]:
a=[6,1,45,4,65]
a=sorted(a,reverse=True)
a

[65, 45, 6, 4, 1]

In [48]:
a=[2,3,1,45,15]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
            print(a[i],a[j])
       
print(a)

1 2
2 3
15 45
[1, 2, 3, 15, 45]

In [9]:
values=input().split()

#l=values.split(" ")
print(values)
type(values)

bhanu rekha sai
['bhanu', 'rekha', 'sai']

list

In [12]:
numbers=list(map(int,input().split()))
print(numbers)
type(numbers)

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

list

In [4]:
## add the first name and second name given , 
#the first letter should be capital and other letters should be lower case and have space between the letters
list=["sai nath","REDDY"]
names = lambda x,y : x.split(' ')[0].title()+' '+y.split(' ')[0].title()
names("sai nath","REDDY")

'Sai Reddy'

In [11]:
list=["Sai Nath","Bhanu Rekha"," Raja Reddy","Anu radha","Mohan Reddy dabala","Sravan Kumar Chirra"]
list.sort(key=lambda x: x.split(' ')[-1].title())
print(list)

['Sravan Kumar Chirra', 'Mohan Reddy dabala', 'Sai Nath', 'Anu radha', ' Raja Reddy', 'Bhanu Rekha']

In [12]:
def func(a,b,c):
    return lambda x : a*(x**2) + b*x +c

exp = func(2,2,3)
exp(2)

15

In [1]:
#convert celcius to foreign heat 9/2 * c+32
temps=[("berlin",29),("cairo",56),("aires",30),("los angels",25),("new york",45),("wash dc",22)]
list(map(lambda x: (x[0].title(),(9/2) * x[1]+32),temps))

[('Berlin', 162.5),
 ('Cairo', 284.0),
 ('Aires', 167.0),
 ('Los Angels', 144.5),
 ('New York', 234.5),
 ('Wash Dc', 131.0)]

In [12]:

li=[5,45,6,8,9,7,4,42,12]
avg=sum(li)/len(li)
greater_mean = list(filter(lambda x: x > avg,li))
print(avg)
print(greater_mean)
lesser_mean = list(filter(lambda x: x < avg,li))
print(lesser_mean)

15.333333333333334
[45, 42]
[5, 6, 8, 9, 7, 4, 12]

In [15]:
countries=["india","pak","bangla","","china",""]
new_list = list(filter(None,countries))
print(new_list)

['india', 'pak', 'bangla', 'china']